
/*HOME PAGE*/


/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #800000; /* BulSU maroon */
  padding: 15px 25px;
  color: white;
}

.navbar h1 {
  font-size: 20px;
}

/* Main container */
.container {
  text-align: center;
  padding: 50px 20px;
}

.container h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.reserve-btn {
  background-color: #800000;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 40px;
}

.reserve-btn:hover {
  background-color: #a31f1f;
}

/* Cards */
.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.card-container a{
  text-decoration: none;
  color: #333;
}


.card {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-weight: bold;
  transition: 0.3s;
}

.card:hover {
  background-color: #ffcc00;
  color: #333;
}

/* Footer text */
.footer-text {
  font-size: 14px;
}

.footer-text a {
  color: #800000;
  font-weight: bold;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}
